.metadata/
*/bin/
*/.settings/
*~
management-server.log
management-server*.gz
*/management-server.log
*.class
*/target/
*.swp
.swp
target/
*loop.sh
*zstack-api-cli.log
test/UnitTestSuiteReport/*
test/unitTestSuiteReport/*
*.iml
.idea
*.swo
.setting
*.log
premium/
*.orig
*.rej
.classpath
.project
.settings
zstack-api.log
