.metadata/
*/bin/
*/.settings/
.DS_Store
*~
management-server.log
management-server*.gz
minion-server.log
*/management-server.log
*.class
*/target/
*.swp
.swp
target/
*loop.sh
*zstack-api-cli.log
test/UnitTestSuiteReport/*
test/unitTestSuiteReport/*
*.iml
.idea
*.swo
.setting
*.log
premium/
*.orig
*.rej
.classpath
.project
.settings
zstack-api.log
.vscode/
test-premium/zstack-integration-test-result/
envDSLTree
test/zstack-integration-test-result/
premium/test-premium/zstack-api.log
**/bin/
