<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://zstack.org/schema/zstack">
    <id>acl</id>
    <interceptor>AccessControlListApiInterceptor</interceptor>

    <message>
        <name>org.zstack.header.acl.APICreateAccessControlListMsg</name>
    </message>

    <message>
        <name>org.zstack.header.acl.APIDeleteAccessControlListMsg</name>
    </message>

    <message>
        <name>org.zstack.header.acl.APIAddAccessControlListEntryMsg</name>
    </message>

    <message>
        <name>org.zstack.header.acl.APIChangeAccessControlListRedirectRuleMsg</name>
    </message>

    <message>
        <name>org.zstack.header.acl.APIAddAccessControlListRedirectRuleMsg</name>
    </message>

    <message>
        <name>org.zstack.header.acl.APIRemoveAccessControlListEntryMsg</name>
    </message>

    <message>
        <name>org.zstack.header.acl.APIQueryAccessControlListMsg</name>
        <serviceId>query</serviceId>
    </message>
</service>
