<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFile" fileName="management-server.log"
            filePattern="management-server-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="150 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="DiskCapacityLogger" fileName="disk-capacity.log"
            filePattern="disk-capacity-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="150 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="DiskCapacityLoggerDetails" fileName="disk-capacity-details.log"
            filePattern="disk-capacity-details-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="150 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="ApiRequestLogger" fileName="zstack-api.log"
            filePattern="zstack-api-request-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="150 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <Async name="Async" ignoreExceptions="false" bufferSize="512">
            <AppenderRef ref="RollingFile" />
        </Async>

        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{1}] (%t) %m%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.zstack.storage.primary.DiskCapacityTracer" level="DEBUG" additivity="TRUE">
            <AppenderRef ref="DiskCapacityLogger" level="DEBUG" />
        </Logger>

        <Logger name="org.zstack.storage.primary.DiskCapacityTracerDetails" level="DEBUG" additivity="TRUE">
            <AppenderRef ref="DiskCapacityLoggerDetails" level="DEBUG" />
        </Logger>

        <Logger name="api.request" level="TRACE" additivity="TRUE">
            <AppenderRef ref="ApiRequestLogger" level="TRACE" />
        </Logger>

        <Logger name="org.zstack" level="DEBUG" />

        <Logger name="org.zstack.utils" level="TRACE" />

        <Logger name="org.zstack.core.timeout" level="TRACE" />

        <Logger name="org.zstack.query" level="TRACE" />

        <Logger name="org.zstack.compute.allocator" level="TRACE" />

        <Logger name="org.zstack.storage.primary" level="TRACE" />

        <Logger name="org.zstack.core.rest" level="TRACE" />

        <Logger name="org.zstack.core.workflow" level="TRACE" />

        <Logger name="org.zstack.core.db" level="TRACE" />

        <Logger name="org.zstack.identity" level="TRACE" />

        <Logger name="org.zstack.cassandra" level="TRACE" />

        <Logger name="org.zstack.core.cloudbus" level="TRACE" />

        <Logger name="org.zstack.billing" level="TRACE" />

        <Logger name="org.springframework" level="WARN" />

        <Logger name="org.zstack.core.defer" level="TRACE" />

        <Logger name="org.zstack.rest" level="TRACE" />

        <!--
        <Logger name="com.datastax.driver.core" level="TRACE" />
        -->

        <Logger name="org.springframework.data.cassandra.core" level="TRACE" />

        <Logger name="org.hibernate" level="WARN">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.tomcat" level="DEBUG" />

        <Root level="WARN" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
