<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="zstack.jpa" transaction-type="RESOURCE_LOCAL">
        <mapping-file>persistence-mapping.xml</mapping-file>

        <class>org.zstack.core.checkpoint.CheckPointVO</class>
        <class>org.zstack.core.checkpoint.CheckPointEntryVO</class>
        <class>org.zstack.core.workflow.WorkFlowChainVO</class>
        <class>org.zstack.core.workflow.WorkFlowVO</class>
        <class>org.zstack.core.keyvalue.KeyValueBinaryVO</class>
        <class>org.zstack.core.keyvalue.KeyValueVO</class>
        <class>org.zstack.core.job.JobQueueVO</class>
        <class>org.zstack.core.job.JobQueueEntryVO</class>
        <class>org.zstack.core.config.GlobalConfigVO</class>
        <class>org.zstack.header.scheduler.SchedulerVO</class>
        <class>org.zstack.header.scheduler.SchedulerJobVO</class>
        <class>org.zstack.header.scheduler.SchedulerTriggerVO</class>
        <class>org.zstack.header.scheduler.SchedulerJobSchedulerTriggerRefVO</class>
        <class>org.zstack.header.managementnode.ManagementNodeVO</class>
        <class>org.zstack.header.managementnode.ManagementNodeContextVO</class>
        <class>org.zstack.header.zone.ZoneVO</class>
        <class>org.zstack.header.zone.ZoneEO</class>
        <class>org.zstack.header.cluster.ClusterVO</class>
        <class>org.zstack.header.cluster.ClusterEO</class>
        <class>org.zstack.header.host.HostVO</class>
        <class>org.zstack.header.host.HostEO</class>
        <class>org.zstack.header.storage.primary.PrimaryStorageVO</class>
        <class>org.zstack.header.storage.primary.PrimaryStorageEO</class>
        <class>org.zstack.header.storage.primary.PrimaryStorageClusterRefVO</class>
        <class>org.zstack.header.storage.primary.PrimaryStorageCapacityVO</class>
        <class>org.zstack.header.storage.primary.PrimaryStorageHostRefVO</class>
        <class>org.zstack.header.storage.backup.BackupStorageVO</class>
        <class>org.zstack.header.storage.backup.BackupStorageEO</class>
        <class>org.zstack.header.storage.backup.BackupStorageZoneRefVO</class>
        <class>org.zstack.header.image.ImageVO</class>
        <class>org.zstack.header.image.ImageEO</class>
        <class>org.zstack.header.image.ImageBackupStorageRefVO</class>
        <class>org.zstack.header.allocator.HostCapacityVO</class>
        <class>org.zstack.header.configuration.InstanceOfferingVO</class>
        <class>org.zstack.header.configuration.InstanceOfferingEO</class>
        <class>org.zstack.header.configuration.DiskOfferingVO</class>
        <class>org.zstack.header.configuration.DiskOfferingEO</class>
        <class>org.zstack.header.volume.VolumeVO</class>
        <class>org.zstack.header.volume.VolumeEO</class>
        <class>org.zstack.header.network.l2.L2NetworkVO</class>
        <class>org.zstack.header.network.l2.L2NetworkEO</class>
        <class>org.zstack.header.network.l2.L2VlanNetworkVO</class>
        <class>org.zstack.network.l2.vxlan.vxlanNetworkPool.VxlanNetworkPoolVO</class>
        <class>org.zstack.network.l2.vxlan.vxlanNetwork.VxlanNetworkVO</class>
        <class>org.zstack.network.l2.vxlan.vtep.VtepVO</class>
        <class>org.zstack.network.l2.vxlan.vxlanNetworkPool.VniRangeVO</class>
        <class>org.zstack.header.network.l2.L2NetworkClusterRefVO</class>
        <class>org.zstack.header.network.l3.L3NetworkVO</class>
        <class>org.zstack.header.network.l3.L3NetworkEO</class>
        <class>org.zstack.header.network.l3.L3NetworkDnsVO</class>
        <class>org.zstack.header.network.l3.IpRangeVO</class>
        <class>org.zstack.header.network.l3.IpRangeEO</class>
        <class>org.zstack.header.network.l3.UsedIpVO</class>
        <class>org.zstack.network.service.vip.VipVO</class>
        <class>org.zstack.network.service.eip.EipVO</class>
        <class>org.zstack.network.service.virtualrouter.vip.VirtualRouterVipVO</class>
        <class>org.zstack.network.service.virtualrouter.eip.VirtualRouterEipRefVO</class>
        <class>org.zstack.header.network.service.NetworkServiceProviderVO</class>
        <class>org.zstack.header.network.service.NetworkServiceL3NetworkRefVO</class>
        <class>org.zstack.header.network.service.NetworkServiceProviderL2NetworkRefVO</class>
        <class>org.zstack.header.network.service.NetworkServiceTypeVO</class>
        <class>org.zstack.header.vm.VmInstanceVO</class>
        <class>org.zstack.header.vm.VmInstanceEO</class>
        <class>org.zstack.header.vm.VmInstanceSequenceNumberVO</class>
        <class>org.zstack.appliancevm.ApplianceVmVO</class>
        <class>org.zstack.appliancevm.ApplianceVmFirewallRuleVO</class>
        <class>org.zstack.header.vm.VmNicVO</class>
        <class>org.zstack.header.identity.SessionVO</class>
        <class>org.zstack.header.identity.AccountVO</class>
        <class>org.zstack.header.identity.AccountResourceRefVO</class>
        <class>org.zstack.header.identity.UserVO</class>
        <class>org.zstack.header.identity.PolicyVO</class>
        <class>org.zstack.header.identity.UserPolicyRefVO</class>
        <class>org.zstack.header.identity.UserGroupVO</class>
        <class>org.zstack.header.identity.UserGroupPolicyRefVO</class>
        <class>org.zstack.header.identity.UserGroupUserRefVO</class>
        <class>org.zstack.header.identity.SharedResourceVO</class>
        <class>org.zstack.header.identity.QuotaVO</class>
        <class>org.zstack.header.search.DeleteVO</class>
        <class>org.zstack.header.search.InsertVO</class>
        <class>org.zstack.header.search.UpdateVO</class>
        <class>org.zstack.kvm.KVMHostVO</class>
        <class>org.zstack.storage.backup.sftp.SftpBackupStorageVO</class>
        <class>org.zstack.storage.backup.imagestore.ImageStoreBackupStorageVO</class>
        <class>org.zstack.header.simulator.SimulatorHostVO</class>
        <class>org.zstack.header.storage.primary.ImageCacheVO</class>
        <class>org.zstack.network.service.virtualrouter.VirtualRouterOfferingVO</class>
        <class>org.zstack.network.service.virtualrouter.VirtualRouterBootstrapIsoVO</class>
        <class>org.zstack.network.securitygroup.SecurityGroupRuleVO</class>
        <class>org.zstack.network.securitygroup.SecurityGroupL3NetworkRefVO</class>
        <class>org.zstack.network.securitygroup.SecurityGroupVO</class>
        <class>org.zstack.network.securitygroup.SecurityGroupFailureHostVO</class>
        <class>org.zstack.network.securitygroup.VmNicSecurityGroupRefVO</class>
        <class>org.zstack.network.securitygroup.SecurityGroupSequenceNumberVO</class>
        <class>org.zstack.network.service.portforwarding.PortForwardingRuleVO</class>
        <class>org.zstack.network.service.virtualrouter.portforwarding.VirtualRouterPortForwardingRuleRefVO</class>
        <class>org.zstack.header.console.ConsoleProxyVO</class>
        <class>org.zstack.header.storage.snapshot.VolumeSnapshotTreeVO</class>
        <class>org.zstack.header.storage.snapshot.VolumeSnapshotTreeEO</class>
        <class>org.zstack.header.storage.snapshot.VolumeSnapshotEO</class>
        <class>org.zstack.header.storage.snapshot.VolumeSnapshotVO</class>
        <class>org.zstack.header.storage.snapshot.VolumeSnapshotBackupStorageRefVO</class>
        <class>org.zstack.header.tag.UserTagVO</class>
        <class>org.zstack.header.tag.SystemTagVO</class>
        <class>org.zstack.network.service.virtualrouter.VirtualRouterVmVO</class>
        <class>org.zstack.storage.primary.local.LocalStorageResourceRefVO</class>
        <class>org.zstack.storage.primary.local.LocalStorageHostRefVO</class>
        <class>org.zstack.storage.ceph.backup.CephBackupStorageVO</class>
        <class>org.zstack.storage.ceph.backup.CephBackupStorageMonVO</class>
        <class>org.zstack.storage.ceph.primary.CephPrimaryStorageMonVO</class>
        <class>org.zstack.storage.ceph.primary.CephPrimaryStorageVO</class>
        <class>org.zstack.storage.ceph.CephCapacityVO</class>
        <class>org.zstack.storage.fusionstor.backup.FusionstorBackupStorageVO</class>
        <class>org.zstack.storage.fusionstor.backup.FusionstorBackupStorageMonVO</class>
        <class>org.zstack.storage.fusionstor.primary.FusionstorPrimaryStorageMonVO</class>
        <class>org.zstack.storage.fusionstor.primary.FusionstorPrimaryStorageVO</class>
        <class>org.zstack.storage.fusionstor.FusionstorCapacityVO</class>
        <class>org.zstack.core.gc.GarbageCollectorVO</class>
        <class>org.zstack.header.storage.primary.ImageCacheVolumeRefVO</class>
        <class>org.zstack.network.service.virtualrouter.lb.VirtualRouterLoadBalancerRefVO</class>
        <class>org.zstack.network.service.lb.LoadBalancerVO</class>
        <class>org.zstack.network.service.lb.LoadBalancerListenerVmNicRefVO</class>
        <class>org.zstack.network.service.lb.LoadBalancerListenerVO</class>
        <class>org.zstack.header.console.ConsoleProxyAgentVO</class>
        <class>org.zstack.header.storage.primary.ImageCacheShadowVO</class>
        <class>org.zstack.ldap.LdapServerVO</class>
        <class>org.zstack.ldap.LdapAccountRefVO</class>
        <class>org.zstack.core.jsonlabel.JsonLabelVO</class>
        <class>org.zstack.rest.AsyncRestVO</class>
        <class>org.zstack.storage.ceph.primary.CephPrimaryStoragePoolVO</class>
        <class>org.zstack.header.core.progress.TaskProgressVO</class>
        <class>org.zstack.core.notification.NotificationVO</class>
        <class>org.zstack.core.notification.NotificationSubscriptionVO</class>
        <class>org.zstack.header.vo.ResourceVO</class>
        <class>org.zstack.header.core.webhooks.WebhookVO</class>
    </persistence-unit>
</persistence>
